body {
    background-color: #d3cfcf;
}

.navbar-container {
    background-color: #181818;
    display: flex;
    padding: 20px
}

.logo {
    margin: auto;
    color: whitesmoke;
}

.sign-in-text {
    text-align: end;
    margin: auto;
    color: whitesmoke
}

.nav {
    gap: 10px;
    padding: 10px;
    margin-top: -20px;
    margin: auto;
}

.nav-item {
    text-decoration: none;
    margin: 2px;
}

.nav-link {
    text-decoration: none;
    color: gray;
}

.nav-link:hover {
    color: white;
}

.nav-link.active {
    color: white;
}

.index-container {
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.inner-index-container {
    display: flex;
}

.index-heading {
    text-decoration: underline;
}

.create-text {
    background-color: lightgray;
    font-size: larger;
    align-self: center;
    margin-left: 3%;
    border: 2px solid #181818;
    border-radius: 3px;
    padding: 5px;
    text-decoration: none;
    color: black
}

.create-text:hover {
    text-decoration: none;
    background-color: rgb(203, 203, 203);
    color: black
}