body {
    background-color: #d3cfcf;
}

.navbar-container {
    background-color: #181818;
    display: flex;
    padding: 20px
}

.logo {
    margin: auto;
    color: whitesmoke;
}

.sign-in-text {
    text-align: end;
    margin: auto;
    color: whitesmoke
}

.nav {
    gap: 10px;
    padding: 10px;
    margin-top: -20px;
    margin: auto;
}

.nav-item {
    text-decoration: none;
    margin: 2px;
}

.nav-link {
    text-decoration: none;
    color: gray;
}

.nav-link:hover {
    color: white;
}

.nav-link.active {
    color: white;
}

.index-container {
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.inner-index-container {
    display: flex;
}

.create-text {
    background-color: whitesmoke;
    font-size: larger;
    align-self: center;
    margin-left: 3%;
    border: 2px solid #181818;
    border-radius: 3px;
    padding: 5px;
    text-decoration: none;
    color: black
}

.create-text:hover {
    text-decoration: none;
    color: black;
    box-shadow: 0px 1px 2px .5px grey;
}

.create-form-container{
    padding: 30px;
    margin-left: 10%;
    margin-right: 60%;
}

.create-form {
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.listing {
    background-color: RGB(230, 230, 230);
    box-shadow: 0px 1px 2px .5px grey;
    border-radius: 15px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.listing-heading {
    color: #181818;
}

.listing-heading:hover {
    color: #181818;
}

.listing-image {
    height: 200px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0px 1px 2px .5px grey;
}

.listing-no-image {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 1px 2px .5px grey;
}

.individual-listing-container {
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.individual-listing-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.close-auction-form {
    margin-left: auto;
}

.close-auction-button {
    color: whitesmoke;
    background-color: rgb(130, 21, 21);
    border-radius: 5px;
}

.close-auction-button:hover {
    background-color: red;
}

.individual-listing-classes {
    display: flex;
    align-items: center;
    gap: 8px;
}

.category-button {
    color: whitesmoke;
    padding: 3px;
    text-decoration: none;
    background-color: blue;
    border: 2px solid black;
    border-radius: 5px;
}

.category-button:hover {
    color: whitesmoke;
    padding: 3px;
    text-decoration: none;
    background-color: rgb(22, 68, 235);
 }

.add-watchlist-button {
    color: whitesmoke;
    padding: 3px;
    text-decoration: none;
    background-color: green;
    border: 2px solid black;
    border-radius: 5px;
}

.add-watchlist-button:hover {
    color: whitesmoke;
    padding: 3px;
    text-decoration: none;
    background-color: rgb(1, 149, 1);
 }

.remove-watchlist-button {
    color: whitesmoke;
    padding: 3px;
    text-decoration: none;
    background-color: rgb(130, 21, 21);
    border: 2px solid black;
    border-radius: 5px;
}

.remove-watchlist-button:hover {
    color: whitesmoke;
    padding: 3px;
    text-decoration: none;
    background-color: red;
 }


.individual-listing-details {
    background-color: RGB(230, 230, 230);
    box-shadow: 0px 1px 2px .5px grey;
    border-radius: 15px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1.6fr;
}

.individual-listing-image {
    height: 400px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0px 1px 2px .5px grey;
}

.individual-listing-no-image {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 1px 2px .5px grey;
}

.place-bid-button {
    
}

.categories-container {
    padding: 30px;
    margin-left: 10%;
    margin-right: 25%;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.category {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: x-large;
    background-color: #3d3d3d;
    border-radius: 10px;
    box-shadow: 0px 1px 2px .5px grey;
}

.category:hover {
    text-decoration: none;
    color: white;
    background-color: black;
}

.individual-category-container {
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.watchlist-container {
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.register-container {
    padding: 30px;
    margin-left: 10%;
    margin-right: 60%;
}

.login-container {
    padding: 30px;
    margin-left: 10%;
    margin-right: 60%;
}

