{% extends "auctions/layout.html" %}

{% block body %}
    <div class="create-form-container">
        <h1 style="text-shadow: 1px 1px 2px gray;">Create Listing</h1>
        <br>
        <div class="create-form">
            <form method="POST" action="">
                {% csrf_token %}
                Title: {{form.title}}
                <br>
                <br>
                Description: {{form.description}}
                <br>
                <br>
                Starting Bid (£): {{form.starting_bid}}
                <br>
                <br>
                Image URL: {{form.image_url}} 
                <br>
                <br>
                Category:
                <select name="category">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>

    
{% endblock %}