{% extends "auctions/layout.html" %}

{% block body %}

    <div class="index-container">
        <div class="inner-index-container">
            <h1 style="text-shadow: 1px 1px 2px gray;">Active Listings</h1>
            {% if user.is_authenticated %}
            <a class="create-text" href="{% url 'create' %}">Create Listing</a>
            {% endif %}
        </div>

        <br>
        <br>

        {% for listing in listings %}
            <h1><a href="{% url 'listing' listing.id %}" class="listing"> {{listing.title}} </a></h1>
        {% endfor %}
    </div>

{% endblock %}