{% extends "auctions/layout.html" %}

{% block body %}
    
    <h1>{{ listing.title }}</h1>
    <h4>by: {{ listing.user }}</h2>
    <hr>
    <h5>{{ listing.category }}</h5>
    <hr>

    {% if user.is_authenticated %}
        {% if is_added_to_watchlist %}
            <p>Added to Watchlist</p>
        {% else %}
            <a href="{% url 'add_to_watchlist' listing.id %}">Add to Watchlist</a>
        {% endif %}
    {% endif %}
    
    <hr>
    <h3><u>Description</u></h3>
    <p>{{ listing.description }}</p>
    <br>
    <br>
    <hr>
    <h2><center>Current Bid: {{ listing.bid }}</center></h2>

    <div>
        <hr>
        <h3><u>Comments</u></h3>
        <hr>
        {% if user.is_authenticated %}
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.text }}
                <input type="submit" value="Comment">
            </form>
            <hr/>
        {% endif %}
        {% for comment in comments %}
        <b>{{ comment.user }}</b> : {{ comment.text }}
        <hr>
        {% empty %}
        <h2>NO COMMENTS YET!</h2>
        {% endfor %}
    </div>

{% endblock %}