{% extends "auctions/layout.html" %}

{% block body %}
    
    <h1>{{ listing.title }}</h1>
    <br>
    <h2>LISTED BY {{ listing.user }}</h2>
    <br>
    <p>{{ listing.description }}</p>
    <br>
    <br>
    <h2>{{ listing.bid }}</h2>
    <br>
    <br>
    <br>
    <div>
        <hr>
        <h3><u>Comments</u></h3>
        <hr>
        {% if user.is_authenticated %}
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.text }}
                <input type="submit" value="Comment">
            </form>
            <hr/>
        {% endif %}
        {% for comment in comments %}
        <b>{{ comment.user }}</b> : {{ comment.text }}
        <hr>
        {% empty %}
        <h2>NO COMMENTS YET!</h2>
        {% endfor %}
    </div>

{% endblock %}