{% extends "auctions/layout.html" %}

{% block body %}
    
    <div class="individual-listing-container">

        <div class="individual-listing-details">

            {% if listing.image_url %}
                <img class="individual-listing-image" src={{listing.image_url}}> 
                {% else %}
                <div class="individual-listing-no-image">
                    No image available
                </div>
            {% endif %}

            <div>
                <div class="individual-listing-title">
                    <h1>{{ listing.title }}</h1>
                    
                    {% if request.user.is_authenticated and listing.user == request.user and not listing.closed %}
                        <form class="close-auction-form" method="POST" action="">
                            {% csrf_token %}
                            <button class="close-auction-button" type="submit" name="close_auction">Close Auction</button>
                        </form>
                    {% endif %}
                </div>
                    
                <div class="individual-listing-classes">
                    <a class="category-button" href="{% url 'individual_category' listing.category.name %}">{{ listing.category }}</a>

                    {% if user.is_authenticated %}
                        {% if is_added_to_watchlist %}
                            <a class="remove-watchlist-button" href="{% url 'remove_from_watchlist' listing.id %}">Remove from Watchlist</a>
                        {% else %}
                            <a class="add-watchlist-button" href="{% url 'add_to_watchlist' listing.id %}">Add to Watchlist</a>
                        {% endif %}
                    {% endif %}
     
                    <br>
                </div>

                <hr>
        
                {% if listing.closed %}
                    {% if request.user == listing.highest_bidder and not listing.user == listing.highest_bidder %}
                        <h3><center>Congratulations! You won this auction.</center></h3>
                    {% else %}
                        <h3><center>This listing is closed.</center></h3>
                    {% endif %}
                {% else %}
                    
                    <h5>Current Price: £{{ listing.highest_bid }}</h5>
                    {% if user.is_authenticated %}
                        <form method="POST" action="{% url 'listing' listing.id %}">
                            {% csrf_token %}
                            <strong><label for="bid_amount">Your Bid (£):</label></strong>
                            <input type="number" name="bid_amount" step="0.01" min="{{ listing.highest_bid|floatformat:2 }}" required>
                            <button class="place-bid-button" type="submit">Place Bid</button>
                        </form>
                    {% else %}
                        <p>You must be logged in to place a bid.</p>
                    {% endif %}
                {% endif %}

                <hr>
                Bids: {{bids}}
                <br>
                Seller: <strong>{{ listing.user }}</strong>
                <hr>

                <h6><u><strong>Description</strong></u></h6>
                {{ listing.description }}

            </div>

        </div>

        <br>

        <div class="individual-listing-comments">
            <h3><u>Comments</u></h3>
            {% if user.is_authenticated %}
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form.comment_text }}
                    <input type="submit" value="Comment">
                </form>
                <hr>
            {% endif %}
            {% for comment in comments %}
                <div class="individual-comment">
                    <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fronaldmottram.co.nz%2Fwp-content%2Fuploads%2F2019%2F01%2Fdefault-user-icon-8.jpg&f=1&nofb=1&ipt=9321d3ae768efcf8ec35b77bce818ded63f6438d2235b332d53659df5723c7e0&ipo=images" height="40" width="40" style="border-radius: 20px;">
                    <strong>{{ comment.user }}</strong>
                    <br>
                    <br>    
                    {{ comment.comment_text }}
                </div>
            {% empty %}
                No Comments Yet.
            {% endfor %}
        </div>

    </div>

{% endblock %}