{% extends "auctions/layout.html" %}

{% block body %}

    <div class="watchlist-container">
        <h1 style="text-shadow: 1px 1px 2px gray;">Your Watchlist</h1>
        <br>
        {% if user.is_authenticated %}
            {% for listing in watchlist_items %}
                <div class="listing">
                    {% if listing.image_url %}
                    <img class="listing-image" src={{listing.image_url}}> 
                    {% else %}
                    <div class="listing-no-image">
                        No image available
                    </div>
                    {% endif %}
                    <div>
                        <h2><a class="listing-heading" href="{% url 'listing' listing.id %}" class="listing"> {{listing.title}} </a></h2>
                        <h5>£{{listing.highest_bid}}</h5>
                        <br>
                        {{listing.description}}
                    </div>
                </div>
                <br>
            {% empty %}
                Your watchlist is empty.
            {% endfor %}
        {% endif %}
    </div>

    

{% endblock %}